{% extends 'elearningapp/main.html'%}

{% block content %}

<br>


<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="stat1">
			  	<div class="card-header">
			  		<h5 class="card-title"><a href= "{% url '1x1' %}">Lesson 1: An introduction to Alexa Skills</a></h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">A brief introduction to what Alexa Skills are and why they are used</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="stat2">
			  	<div class="card-header">
			  		<h5 class="card-title"><a href= "{% url '2x1' %}">Lesson 2: Learning Alexa Concepts</a></h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">This lesson will teach you about the concepts Alexa Skills uses</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="stat3">
			  	<div class="card-header">
			  		<h5 class="card-title"><a href= "{% url '3x1' %}">Lesson 3: Introduction to AWS</a></h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">An introduction to the AWS interface and how to get started</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="stat1">
			  	<div class="card-header">
			  		<h5 class="card-title"><a href= "{% url '4x1' %}">Lesson 4: Creating your first skill</a></h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">In this lesson, you will learn how to create a basic Alexa Skill</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="stat2">
			  	<div class="card-header">
			  		<h5 class="card-title"><a href= "{% url '5x1' %}">Lesson 5: Another basic Alexa Skill</a></h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">In this lesson, you will learn how to create another Alexa Skill</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="stat3">
			  	<div class="card-header">
			  		<h5 class="card-title"><a href= "{% url '6x1' %}">Lesson 6: A more intermediate Alexa Skill</a></h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">In this lesson, you will learn how to create a more intermediate Alexa Skill</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="stat1">
			  	<div class="card-header">
			  		<h5 class="card-title"><a href= "{% url '7x1' %}">Lesson 7: A more advanced Alexa Skill</a></h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">In this lesson, you will learn how to create a more advanced Alexa Skill</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="stat2">
			  	<div class="card-header">
			  		<h5 class="card-title"><a href= "{% url '8x1' %}">Coming soon...</a></h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">A new lesson coming soon...</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="stat3">
			  	<div class="card-header">
			  		<h5 class="card-title"><a href= "{% url '9x1' %}">Coming soon...</a></h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">A new lesson coming soon...</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
