{% extends 'elearningapp/main.html'%}

{% block content %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Arithmetic Calculator Skill</h5>
			<hr>
			<p>The skill that we will be making in this section is an arithmetic calculator. The invocation naem that should be used to call the calculator is “arithmetic calculator”, and users should be able to ask the calculator to solve simple arithmetic questions such as 3+4 or 2x2.
		</div>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="{% url '5x2' %}">2</a></li>
    <li class="page-item"><a class="page-link" href="{% url '5x3' %}">3</a></li>
    <li class="page-item">
      <a class="page-link" href="{% url '5x2' %}">Next</a>
    </li>
  </ul>
</nav>
{% endblock %}