{% extends 'elearningapp/main.html'%}

{% block content %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Slots</h5>
			<hr>
			<p>
            A slot is a variable or condition that is set by the user, for example the specific time that the alarm clock is set for. It is used to to narrow down what the user wants. Here is an example:
            </p>
            <p>
            “Alexa, ask AlarmApp to set an alarm for <b>4am</b>.”
            </p>
            <p>
            The slot in this example would be 4am.
            </p>
		</div>
  </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href= "{% url '2x5' %}" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">6</a></li>
      <li class="page-item"><a class="page-link" href="{% url '2x7' %}">7</a></li>
      <li class="page-item"><a class="page-link" href="{% url '2x8' %}">8</a></li>
      <li class="page-item">
        <a class="page-link" href="{% url '2x7' %}">Next</a>
      </li>
    </ul>
</nav>
{% endblock %}