#logo{
    
}
body{
    background-color: #ebeff5;
}


#stat1{
    background-color: #C8A2C8;
}


#stat2{
    background-color: #add8e6;
}

#stat3{
    background-color: #C8A2C8;
}
