{% extends 'elearningapp/main.html'%}

{% block content %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>AWS and Amazon Developer</h5>
			<hr>
			<p>In order to make Alexa Skills, we will need an AWS(Amazon Web Services) account, as well as an Amazon Developer account.
		</div>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="{% url '3x2' %}">2</a></li>
    <li class="page-item"><a class="page-link" href="{% url '3x3' %}">3</a></li>
    <li class="page-item">
      <a class="page-link" href="{% url '3x2' %}">Next</a>
    </li>
  </ul>
</nav>
{% endblock %}
