{% extends 'elearningapp/main.html'%}

{% block content %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Hello World Skill</h5>
			<hr>
			<p>The first skill we will be creating within the course is a simple “Hello World” skill. 
		</div>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="{% url '4x2' %}">2</a></li>
    <li class="page-item"><a class="page-link" href="{% url '4x3' %}">3</a></li>
    <li class="page-item">
      <a class="page-link" href="{% url '4x2' %}">Next</a>
    </li>
  </ul>
</nav>
{% endblock %}