{% extends 'elearningapp/main.html'%}

{% block content %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5></h5>
			<hr>
			<p>Within AWS, we should head into lambda and create a new function called “hello world”, we should set the runtime to node.js and set the existing role to basic execution.

		</div>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href= "{% url '4x1' %}" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="{% url '4x3' %}">3</a></li>
    <li class="page-item"><a class="page-link" href="{% url '4x4' %}">4</a></li>
    <li class="page-item">
      <a class="page-link" href="{% url '4x3' %}">Next</a>
    </li>
  </ul>
</nav>
{% endblock %}